@model ToDoTask.Data.Entities.Job

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAssign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAssign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectUser.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
