@using ToDoTask.Constants;
@using ToDoTask.Models.Contents;
@model IEnumerable<JobForView>
@{
    ViewData["Title"] = "ListJobComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Pager pager = new Pager();
    int pagerNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pagerNo = pager.CurrentPage;
    }
}

<h1>List Job Complete</h1>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Search -->
    <form asp-action="ListJobComplete" method="get">
        <div class="form-actions no-color">
            <p>
                Find: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" />
            </p>
        </div>
    </form>
    <!-- Topbar Navbar -->
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateComplete)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateComplete)
                </td>
                
            </tr>
        }
    </tbody>
</table>
<partial name="_pager" model="@pager" />