@using ToDoTask.Data.Entities;
@using ToDoTask.Models.Contents;

@model IEnumerable<ProjectUserForView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách phân công</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @foreach (var p in ViewBag.Project as ICollection<Project>)
                    {
                        if (item.ProjectId== p.Id)
                        {
                            @Html.DisplayFor(modelItem => p.Name)
                        }
                    }
                </td>
                
                <td>
                        @string.Join(",", item.Users)
                </td>
                
                <td>
                    <button onclick="DeleteAssign('@item.ProjectId')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function DeleteAssign(id) {
            if (confirm("Are you sure?") == true) {
                $.ajax({
                    type: 'get',
                    url: '/Assign/Delete?id=' + id,
                    dataType: 'text',
                    success: function (data) {
                        alert("Thành công");
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Thất bại");
                    }
                });
            }

        }

    </script>
}

